altgraph==0.17.5
beautifulsoup4==4.15.0
bs4==0.0.2
certifi==2026.6.17
charset-normalizer==3.4.9
cloudscraper==1.2.71
idna==3.18
lxml==6.1.1
packaging==26.2
pefile==2024.8.26
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pywin32-ctypes==0.2.3
requests==2.34.2
requests-toolbelt==1.0.0
setuptools==83.0.0
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.16.0
Unidecode==1.4.0
urllib3==2.7.0
validate-docbr==2.0.0
wcwidth==0.8.2
